extends layout.pug

block style
  link(rel="stylesheet", href="/stylesheets/viewJobs.css")

block content
  div#usernameHeaderContainer
    h1#usernameHeader Current User
    button#logoutButton(onclick="logoutRedirect()") Logout
    button#viewProduction(onclick="viewProduction()") View Production
  div#jobsContainer
    each job in jobs
      div(id=`${job.job_name}Container`, class="jobContainer")
        div.jobHeaderContainer
          h2.jobHeader #{job.job_name}
          img(src="/images/icons/download_blue.png", onclick=`window.location.href='http://192.168.86.36:3000/prints/${job.job_name}.pdf'`).downloadIcon
        div.pageLinks
          each page in job.pages
           a(href=`../input/${job.job_name}/${page}`).pageLink SH#{page}
  div#weekProductionContainer
    h1#weeklyBoresHeader.weeklyHeader Weekly Bores -
    table#weeklyBoresTable.weeklyTable
      tr
        th Footage
        th Crew
        th Job Name
        th SH#
        th Work Date
      each bore in bores
        tr
          td #{bore.footage}ft
          td #{bore.crew_name}
          td #{bore.job_name}
          td 
            a(href=`http://192.168.86.36:3000/input/${bore.job_name}/${bore.page_number}`) #{bore.page_number}
          td #{bore.work_date_formatted}
    h1#weeklyRocksHeader.weeklyHeader Weekly Rocks -
    table#weeklyRocksTable.weeklyTable
      tr
        th Footage
        th Crew
        th Job Name
        th SH#
        th Work Date
      each rock in rocks
        tr
          td #{rock.footage}ft
          td #{rock.crew_name}
          td #{rock.job_name}
          td 
            a(href=`http://192.168.86.36:3000/input/${rock.job_name}/${rock.page_number}`) #{rock.page_number}
          td #{rock.work_date_formatted}
    h1#weeklyVaultsHeader.weeklyHeader Weekly Vaults -
    table#weeklyVaultsTable.weeklyTable
      tr
        th Vault Size
        th Crew
        th Job Name
        th SH#
        th Work Date
      each vault in vaults
        tr
          td #{vault.vault_size_formatted}
          td #{vault.crew_name}
          td #{vault.job_name}
          td 
            a(href=`http://192.168.86.36:3000/input/${vault.job_name}/${vault.page_number}`) #{vault.page_number}
          td #{vault.work_date_formatted}

block scripts
  script(src="/scripts/viewJobs.js")