extends layout.pug

block style
  link(rel="stylesheet", href="/stylesheets/viewProduction.css")

block content
  h1 #{crewName}
  div#controlsContainer
    input(type="date", name="startDate")#startDateInput.controlInput
    input(type="date", name="endDate")#endDateInput.controlInput
    input(type="text", name="filterJob")#filterJobInput.controlInput
    input(type="text", name="filterCrew")#filterCrewInput.controlInput
    label(for="startDate")#startDateLabel.controlLabel Start Date
    label(for="endDate")#endDateLabel.controlLabel End Date
    label(for="filterJob")#filterJobLabel.controlLabel Filter Jobs
    label(for="filterCrew")#filterCrewLabel.controlLabel Filter Crews
  div#totalsContainer
    h2#totalBoresHeader.totalHeader Total Bore:
    h2#totalRocksHeader.totalHeader Total Rock:
    h2#totalVaultsHeader.totalHeader Total Vaults:
    h3#totalBoresValue.totalValue 500ft
    h3#totalRocksValue.totalValue 300ft
    h3#totalVaultsValue.totalValue 20 / 3 / 2
  div#tablesContainer
    table#boresTable
      tr
        th Footage
        th Crew
        th Job Name
        th SH#
        th Work Date
      for bore in bores
        tr
          td #{bore.footage}ft
          td #{bore.crew_name}
          td #{bore.job_name}
          td 
            a(href=`http://192.168.86.36:3000/input/${bore.job_name}/${bore.page_number}`) #{bore.page_number}
          td #{bore.work_date_formatted}
    table#rocksTable
      tr
        th Footage
        th Crew
        th Job Name
        th SH#
        th Work Date
      for rock in rocks
        tr
          td #{rock.footage}ft
          td #{rock.crew_name}
          td #{rock.job_name}
          td 
            a(href=`http://192.168.86.36:3000/input/${rock.job_name}/${rock.page_number}`) #{rock.page_number}
          td #{rock.work_date_formatted}
    table#vaultsTable
      tr
        th Vault Size
        th Crew
        th Job Name
        th SH#
        th Work Date
      for vault in vaults
        tr
          td #{vault.vault_size_formatted}
          td #{vault.crew_name}
          td #{vault.job_name}
          td 
            a(href=`http://192.168.86.36:3000/input/${vault.job_name}/${vault.page_number}`) #{vault.page_number}
          td #{vault.work_date_formatted}

block scripts
  script(src="/scripts/viewProduction.js")